@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9;
  --foreground: #171717;
  --font-nunito-sans: "Nunito Sans", sans-serif;
  --font-eb-garamond: "EB Garamond", serif;
}

/* Disabled dark mode */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), sans-serif;
}
